.mainDiv{
    overflow: hidden;
}
.navDiv{
    float:left;
    padding-bottom: 1000px;
    position: fixed;
    top:0;
}
.bugDiv{
    float: left;
    width:95%;
    padding-left:100px;
    padding-top: 30px;
}
.bugListDiv{
    width: 100%;
    padding-left:100px;
    padding-right: 100px;
}
.thCol{
    width:10%
}